.Btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: initial;
  border-radius: 30px;
  background-color: var(--typ-primary);
  padding: 10px 15px;
  opacity: 1;
  cursor: pointer;
  user-select: none;
  transition: opacity ease-in-out;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    transition: ease-in;
    transform: translateY(1px);
    opacity: 1;
  }
}
.Icon {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}
.IconBorder {
  background: rgba(255, 255, 255, 0.25);
  color: white;
  width: 1px;
  height: 25px;
}
.Body {
  margin-left: 10px;
  margin-right: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--bg-content);
}
.Basket {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.Tag {
  @extend .Btn;
  --bg-tag: #f9f9f9;
  background-color: var(--bg-tag);
  border: var(--bg-tag);
  & span {
    @extend .Body;
    --typ-primary: black;
    color: var(--typ-primary);
    white-space: nowrap;
  }
}

@media (max-width: 350px) {
  .Tag {
    max-height: 32px;
    border-radius: 5px;
  }
}
