@import "../../Base/Styles/BaseExtend.css";

.ShopCart {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.ShopCartTyph {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 290px;
}
.ShopCartCounter {
  margin: 10px;
  display: flex;
}
.ShopCartTitle {
  @extend .BaseTitle;
  font-size: 22px;
  line-height: 27px;
}
.ShopCartSubTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #8d8d8d;
}
.ShopCartCounter {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ShopCartCounterBtn {
  background-color: transparent;
  padding: 0;
  width: 32px;
  height: 32px;
  border: 1px solid var(--accent-color);
  transition: background-color 0.15s ease-in-out;
  & span {
    color: var(--accent-color);
  }
  &:active {
    background-color: var(--accent-color);
    & span {
      color: #fff;
    }
  }
  &:hover {
    background-color: var(--accent-color);
    & span {
      color: #fff;
    }
  }
}
.ShopCartTotalPrice,
.ShopCartReset {
  @extend .ShopCartCounter;
}
.ShopCartResetBtn {
  @extend .ShopCartCounterBtn;
  --btn-color: #d0d0d0;
  border: 1px solid var(--btn-color);
  & span {
    color: var(--btn-color);
  }
  &:active {
    background-color: black;
    & span {
      color: #fff;
    }
  }
  &:hover {
    background-color: black;
    & span {
      color: #fff;
    }
  }
}
.ShopCartTotalPrice {
  @extend .BaseTitle;
  font-size: 22px;
  line-height: 27px;
}

@media (max-width: 768px) {
  .ShopCart {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #d0d0d0;
  }
}

@media (max-width: 425px) {
  .ShopCart {
    flex-direction: column;
    align-items: center;
  }
}
