@import "../../style/Base/Extend/BaseExtend.css";

.TheShopList {
  @extend .ContentWrapper;
  max-width: 820px;
}
.Header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.Content {
  width: 100%;
  margin: 1px;
}
.Inner {
  display: flex;
  align-items: center;
}
.Title {
  @extend .BaseTitle;
  margin: 15px;
}

.HeaderBtn {
  margin-top: 5px;
  background-color: transparent;
  border: none;
  height: 23px;
  padding: 0;
  & span {
    order: 2;
    color: #b6b6b6;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
}

/* footer */
.Footer {
  width: 100%;
}
.FooterStats {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.FooterAllPizas {
  @extend .BaseTitle;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  & span {
    font-weight: bold;
  }
}
.FooterAllSum {
  @extend .FooterAllPizas;
  & span {
    font-weight: bold;
    color: var(--accent-color);
  }
}

.FooterBtns {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.FooterBtnBack {
  height: 55px;
  max-height: 55px;
  --btn-color: #cacaca;
  border: 1px solid var(--btn-color);
  background-color: transparent;
  & span {
    order: 2;
    color: var(--btn-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}
.FooterBtnBackIcon {
  order: 1;
}
.FooterBtnPay {
  height: 55px;
  max-height: 55px;
  margin: 0;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* empty */
.Empty {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EmptyTitle {
  @extend .BaseTitle;
  text-align: center;
}

.EmptyCopy {
  @extend .BaseTitle;
  margin-top: 10px;
  font-weight: normal;
  font-size: 18px;
  line-height: 145.4%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #777777;
}
.EmptyLogo {
  margin-top: 50px;
  max-width: 300px;
  width: 100%;
  max-height: 255px;
  height: 100%;
}
.EmptyBtn {
  margin-top: 60px;
  border: none;
}
@media (max-width: 500px) {
  .FooterBtns {
    justify-content: center;
    align-items: center;
  }
  .FooterBtnBack,
  .FooterBtnPay {
    margin: 5px;
  }
}

@media (max-width: 425px) {
  .TheShopList {
    padding: 20px 30px;
  }
  .FooterBtns {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .TheShopList {
    padding: 10px 10px;
  }
}
