@import "../Button/Button.css";

.Tag {
  @extend .Btn;
  --bg-tag: #f9f9f9;
  background-color: var(--bg-tag);
  border: var(--bg-tag);
}
.TagBody {
  @extend .BtnBody;
  --typ-primary: black;
  color: var(--typ-primary);
  white-space: nowrap;
}
