@import "../../style/Base/Extend/BaseExtend.css";

.SortingBar {
  @extend .ContentWrapper;
  justify-content: space-between;
}
.TagGroup {
  @extend .ContentWrapper;
  justify-content: flex-start;
  width: initial;
  padding: 0;
  margin: 0;
}
.TagMargin {
  margin: 10px;
}

.IsSelected {
  --bg-tag: black;
  background-color: var(--bg-tag);
  border: var(--bg-tag);

  & span {
    --color-text: white;
    color: var(--color-text);
  }
}
